# Kakao OAuth
KAKAO_CLIENT_ID=
KAKAO_CLIENT_SECRET=

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# JWT
JWT_ACCESS_KEY=
JWT_REFRESH_KEY=

# AWS S3
AWS_ACCESS_KEY=
AWS_SECRET_KEY=

# Toss Payments
TOSS_CLIENT_KEY=
TOSS_SECRET_KEY=

# Delivery Tracker
DELIVERY_TRACKER_CLIENT_ID=
DELIVERY_TRACKER_CLIENT_SECRET=
